<div class="d-flex align-items-center mt-2 ms-3">
  <div id="bookmark_area-<%= post.id %>">
    <% if current_user.bookmark?(post)%>
      <%= render 'bookmarks/unbookmark', post: post %>
    <% else %>
      <%= render 'bookmarks/bookmark', post: post %>
    <% end %>
  </div>
</div>