<!-- Container START -->
<div class="container">
  <!-- Row START -->
  <div class="row text-center position-relative z-index-1">
    <div class="col-12 mx-auto mt-5 mt-sm-7">
      <h2 class="h1">お問い合わせ</h2>
    </div>
    <div class="col-md-8 mx-auto mt-4 mt-sm-6">
      <p>機能の追加のご要望、不具合の報告、その他ご質問等ありましたらお問い合わせフォーム、または作成者のTwitterDMよりお願い致します。</p>
    </div>
    <div class="col-md-8 mx-auto mt-4 mt-sm-6">
      <%= link_to href="https://docs.google.com/forms/d/e/1FAIpQLSdipPHY8_4xDrQ2HiY5lt-1GKhPH8FN_oEb0ddqPTRC9QvQlg/viewform?usp=sf_link" do %>
        <p class="lead">お問い合わせフォーム</p>
      <% end %>
      <%= link_to href="https://twitter.com/nashikotokyo" do %>
        <p class="lead">作成者のTwitterアカウント</p>
      <% end %>
    </div>
  </div>
  <!-- Row END -->
</div> 
<!-- Container END -->