<li class="comment-item">
  <div>
    <h6 class="mb-1"><%= comment.user.username %></h6>
    <!-- Comment by -->
    <div class="bg-light rounded-start-top-0 p-2 rounded">
      <p class="small mb-0"><%= comment.body %></p>
    </div>
  </div>
</li>
