<!-- Footer START -->
<footer class="bg-mode pt-2 pb-5">
  <div class="bg- light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Footer nav START -->
          <ul class="nav justify-content-center justify-content-lg-start lh-1">
            <li class="nav-item">
              <%= link_to "利用規約", terms_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "プライバシーポリシー", privacy_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "お問い合わせ", contact_path, class: "nav-link" %>
            </li>
          </ul>
          <!-- Footer nav START -->
        </div>
        <div class="col-lg-6">
          <!-- Copyright START -->
          <p class="text-center text-lg-end mb-0">©2022 MyGuiltyPet</p>
          <!-- Copyright END -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer END -->