<!-- Footer START -->
<footer class="bg-mode">
  <div class="bg- light py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Footer nav START -->
          <ul class="nav justify-content-center justify-content-lg-start lh-1">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="docs/index.html">利用規約</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">プライバシーポリシー</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">お問い合わせ</a>
            </li>
          </ul>
          <!-- Footer nav START -->
        </div>
        <div class="col-lg-6">
          <!-- Copyright START -->
          <p class="text-center text-lg-end mb-0">©2022 MyGuiltyPet</p>
          <!-- Copyright END -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer END -->