<!-- Menu Icon START -->
<div class="d-flex justify-content-evenly py-2 border-top bg-mode fixed-bottom">
  <%= link_to posts_path do %>
    <i class="menu-icon fa-solid fa-house-chimney-window fa-2x"></i>
  <% end %>
  <%= link_to new_post_path do %>
    <i class="menu-icon fa-solid fa-circle-plus fa-2x"></i>
  <% end %>
  <%= link_to ranking_posts_path do %>
    <i class="menu-icon fa-solid fa-ranking-star fa-2x"></i>
  <% end %>
  <%= link_to user_path(current_user) do %>
    <i class="menu-icon fa-solid fa-circle-user fa-2x"></i>
  <% end %>
</div>
<!-- Menu Icon END -->
