<% if current_user.activities.unread.count > 0 %>
  <span class="badge bg-warning navbar-badge position-absolute style='top: 0; right:0;">
    <%= current_user.activities.unread.count %>
  </span>
<% end %>
    