<!-- Card START -->
<div class="card my-4">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <!-- User name & Post time -->
    <div>
      <h6 class="mb-0">
        <%= post.user.username %>
      </h6>
    </div>
    <p class="small mb-0"><%= post.created_at %></p>
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">
    <p><%= post.body %></p>
    <!-- Post Image -->
    <%= image_tag post.image.url %>
  </div>
  <!-- Card body END -->
</div>
<!-- Card END -->
