<!-- Container START -->
<div class="container my-4">
  <!-- Row START -->
  <div class="row justify-content-center">
    <!-- Main content START -->
    <div class="col-md-8 col-xl-6">
      <%= render @posts %>
    </div>
    <!-- Main content END -->
  </div>
  <!-- Row END -->
</div>
<!-- Container END -->
