<% content_for(:title, t('.title')) %>
<!-- Container START -->
<div class="container my-4">
  <!-- Row START -->
  <div class="row justify-content-center">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7">
      <!-- Post Partial START -->
      <%= render @posts, comment: @comment %>
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
    <!-- Main content END -->
  </div>
  <!-- Row END -->
</div>
<!-- Container END -->
