<!-- Container START -->
<div class="container my-4">
  <!-- Row START -->
  <div class="row justify-content-center">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7">
      <!-- Card START -->
      <div class="card my-4">
        <div class="card-body text-center">
					<h3>凶悪ペットランキング</h3>
				</div>
      </div>
      <!-- Card END -->
      <!-- Ranking START -->
      <%= render partial: 'posts/post', collection: @top10_posts, locals: { comment: @comment } %>
      
    </div>
    <!-- Main content END -->
  </div>
  <!-- Row END -->
</div>
<!-- Container END -->
